{
	"database":{
		"url":"jdbc:mysql://localhost:3306",
		"schema":"telemetering",
		"user":"root",
		"password":"asdf1234"
	},
	"superuser":"user@public.talk.google.com",
	"gtalk":{
		"user":"user@gmail.com",
		"password":"asdf1234"
	}
}